[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "/home/jc46/.vim/bundle/Vundle.vim"]
	path = /home/jc46/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
